doctype html

html
	head
		title Sample Page
	body
		h1 Welcome to the Sample Page

		p. 
			This is an example of a paragraph the
			text of which is spread over a number of lines

		ul
			li Red
			li Green
			li Blue

		.cool
			p This is a paragraph in a div with class cool

		#notice
			p This is a paragraph in a div with an id notice